table.list-test-case thead.subject th:first-of-type {  background-color: white; padding: 4px; white-space:nowrap; border-left: 1px solid #e4e4e4;  border-collapse: collapse; }
  table.list-test-case thead.subject th {  background-color: white; padding: 4px; white-space:nowrap;}
  table.list-test-case thead.information th {  background-color:#EEEEEE; padding: 4px; white-space:nowrap; }
  table.list-test-case tbody.test-case-custom-fields th {background-color: white;}

  table.list-test-case thead.test-case-head tr td {  border: 0px; padding: 0px;}
  table.list-test-case thead.test-case-head tr {  height: 20px; }


  table.list-test-case { border-bottom: 1px solid #e4e4e4;  border-collapse: collapse; width: 100%; margin-bottom: 4px; }
  table.list-test-case tbody { border: 1px solid #e4e4e4;  border-collapse: collapse; width: 100%; margin-bottom: 4px; }

  table.list-test-case th {  background-color:#EEEEEE; padding: 4px; white-space:nowrap; }
  table.list-test-case tbody td {text-align:center; vertical-align:top; padding-right:10px;}
  table.list-test-case tbody td.id { width: 2%; text-align: center;}

  table.list-test-case tbody td.name, table.list-test-case tbody td.description, table.list-test-case tbody td.subject, table.list-test-case tbody td.comments, table.list-test-case tbody td.roles {text-align: left;}

  table.list-test-case tbody td.tick {width:15%}
  table.list-test-case tbody td.checkbox { width: 15px; padding: 2px 0 0 0; }
  table.list-test-case tbody td.checkbox input {padding:0px;}
  table.list-test-case tbody td.buttons { width: 15%; white-space:nowrap; text-align: right; }
  table.list-test-case tbody td.buttons a { padding-right: 0.6em; }
  table.list-test-case tbody td.reorder {width:15%; white-space:nowrap; text-align:center; }
  table.list-test-case caption { text-align: left; padding: 0.5em 0.5em 0.5em 0; }

  table.list-test-case tbody tr.group td { padding: 0.8em 0 0.5em 0.3em; font-weight: bold; border-bottom: 1px solid #ccc; text-align:left; }
  table.list-test-case tbody tr.group span.count {position:relative; top:-1px; color:#fff; font-size:10px; background:#9DB9D5; padding:0px 6px 1px 6px; border-radius:3px; margin-left:4px;}
  tr.group a.toggle-all { color: #aaa; font-size: 80%; font-weight: normal; display:none;}
  tr.group:hover a.toggle-all { display:inline;}
  a.toggle-all:hover {text-decoration:none;}

  table.list-test-case tbody tr:hover { background-color:#ffffdd; }
  table.list-test-case tbody tr.group:hover { background-color:inherit; }
  table tbody td {padding:2px;}
  table tbody p {margin:0;}